 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body{
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
}

header{
    background: rgb(134, 134, 241);
    height:200px;
}

 nav{
    display: flex;
    justify-content: space-between;
 }

ul{
    display: flex;
    list-style: none;
    gap: 10px;
}

img{
    height: 100px;
    width: auto;
}